#makedown-editor {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: #fff;
  resize: none;
}

.makedown-answer #makedown {
  width: 100%;
}

.makedown-answer #makedown-editor {
  min-height: 180px;
  padding: 12px 20px;
  font: inherit;
  font-size: 15px;
}

.makedown-answer #makedown-editor::-webkit-input-placeholder {
  color: #9fadc7;
}

.makedown-answer #makedown-editor::-moz-placeholder {
  color: #9fadc7;
}

.makedown-answer .AnswerForm-footer--hidden {
  pointer-events: auto;
  opacity: 1;
}

.makedown-answer .AnswerForm-editor .Input {
  display: none;
}

.makedown-article #makedown {
  margin: 10px 0 30px;
  margin-left: -330px;
  padding: 0 50% 200px;
  min-width: 660px;
}

.makedown-article #makedown-editor {
  width: 100%;
  min-height: 300px;
  line-height: 1.7;
  font-weight: 400;
}

.makedown-article #makedown-editor::-webkit-input-placeholder {
  color: #b3b3b3;
}

.makedown-article #makedown-editor::-moz-placeholder {
  color: #b3b3b3;
}

.makedown-article .entry-content {
  position: absolute;
  top: -300%;
  left: -300%;
}

.makedown-article .toolbar-holder {
  display: none;
}

.atwho-view {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11110 !important;
}

.atwho-view ul {
  overflow: hidden;
  margin: 6px 0;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 8px 18px rgba(0,0,0,.08);
  min-width: 120px;
}

.atwho-view li {
  overflow: hidden;
  padding: 5px 16px;
  height: 44px;
  line-height: 44px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.atwho-view li > * {
  vertical-align: middle;
}

.atwho-view li img {
  margin-right: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.atwho-view li span {
  color: #222;
}

.atwho-view li small {
  font-size: 70%;
  color: #999;
}

.atwho-view .cur {
  background: #f7f8f9;
}
